# Nix
.direnv
result
result-*

# Jujutsu
.jj

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# Environment variables
.env
.env.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.settings/
.classpath

# OS specific
.DS_Store
Thumbs.db

# Task files
# tasks.json
# tasks/ 
packages/cast-cli/target/**

